/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


/*----------
Custom styles Navbar
----------*/
.navbar-default {
  background-color: rgba(42,47,54,0.5);
	border: none;
}

.navbar-default .navbar-collapse {
	border: none;
	padding-left: 0;
	padding-right: 0;
}

a.navbar-brand {
  padding: 0;
}

a.navbar-brand img {
	height: 50px;
}


.navbar-toggle {
	border: none;
}

.navbar-header .navbar-toggle:focus, .navbar-header .navbar-toggle:hover {
	background-color: inherit;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-toggle .glyphicon-remove {
	color: #fff;
}

.navbar-toggle.collapsed .icon-bar {
	display: block;
}

.navbar-toggle .icon-bar {
	display: none;
}

.navbar-toggle.collapsed .glyphicon-remove {
	display: none;
}

.navbar-toggle .glyphicon-remove {
	display: block;
}

.nav-justified li {
	height: 50px;
	border-top: 2px groove;
}

.nav-justified li a {
	color: #fff;
	height: 50px;
	line-height: 2.5;
	padding: 5px;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: inherit;
}

.nav > li > a:active {
	background-color: rgba(10,10,10,0.5);
}

/*End of Navbar styles*/


/*----------

----------*/

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
