@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
  position: relative;
  min-height: 100%;
  font-size: 1em;
}
body {
  font-family: Roboto, Georgia, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
  color: #ffffff;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/*background image animation
/*----------------------------------------------- */
@keyframes opacity {
	0%{
		opacity: 0;
		}
	100%{
		opacity: 1;
	}
}

/*background image
/*---------------------------------------------- */
#bg-img {
	display:block;
	position: fixed;
	top: 0%;
	left: -500px;
	min-width: 100%;
	min-width: 100%;
	width:auto;
	height:auto;
	z-index: -100;
	-webkit-filter:blur(7px);
	animation-timing-function: ease-in;
	animation-name: opacity;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-play-state: running;
}

/*background video
/*--------------------------------------------- */
/*move to correct media query later. */
video{
	display: block;
	position: fixed;
	top: 0%;
	left: 0%;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
	filter:blur(5px);
	-webkit-filter:blur(5px);
}

/* Custom page CSS
-------------------------------------------------- */

/*----------
Custom styles Navbar
----------*/
.navbar-default {
  background-color: rgb(42,47,54);
	border: none;
}

.navbar-default .navbar-collapse {
	border: none;
	padding-left: 0;
	padding-right: 0;
}

a.navbar-brand {
  padding: 0;
}

a.navbar-brand img {
	height: 50px;
}


.navbar-toggle {
	border: none;
}

.navbar-header .navbar-toggle:focus, .navbar-header .navbar-toggle:hover {
	background-color: inherit;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-toggle .glyphicon-remove {
	color: #fff;
}

.navbar-toggle.collapsed .icon-bar {
	display: block;
}

.navbar-toggle .icon-bar {
	display: none;
}

.navbar-toggle.collapsed .glyphicon-remove {
	display: none;
}

.navbar-toggle .glyphicon-remove {
	display: block;
}

.nav-justified li {
	height: 50px;
	border-top: 2px groove;
}

.nav-justified li a {
	color: #fff;
	height: 50px;
	line-height: 2.5;
	padding: 5px;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: inherit;
}

.nav > li > a:active {
	background-color: rgba(10,10,10,0.5);
}

/*End of Navbar styles*/

/*-------------
content styling
-------------*/

#about, #contact, #work, #directions {
  background-color: rgba(42,47,54, 0.8);
	border-radius: 3px;
}

#about, #work, #contact {
	margin-bottom: 75px;
}

#about, #work, #contact, #directions {
	padding: 5%;
	text-align: center;
}

#about {
	margin-top: 150px;
}

#cases {
  margin-bottom: 100px;
}

h2, h3 {
	line-height: 1.5em;
	display: inline-block;
	border-bottom: 2px solid #ff0000;
}

/*-------------------------
styling cases & clients img
--------------------------*/

#cases a img, #clients a img {
	opacity: 0.5;
}

#cases a:active img, #clients a:active img {
	opacity: 1;
}

#cases a img {
	margin: 10px;
}

/*-----------------
Cases info lightbox
-----------------*/

.lightbox {
	display: none;
}

.lightbox:target {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	height: 100%;
	background-color: rgba(0,0,0,0.8);	
}

.lightbox article {
	background-color: #dddddd;
	color: black;
	max-height: 90vh;
	margin-top: 5%;
	text-align: center;
	padding: 5% 10%;
	border-radius: 3px;
	overflow: auto;
}

.lightbox article img {
	display: block;
	width: 90%;
	max-width: 300px;
	margin: auto;
	box-shadow: 2px 2px 15px;
}

.lightbox p {
	text-align: left;
}

.lightbox .link {
	text-align: center;
}

.lightbox article a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.lightbox article a:visited {
	color: #000;
}

.lightbox article a:hover {
	text-decoration: underline;
}

/* End of case info lightbox*/

/*-------------
Contact section
-------------*/

address a {
	color: #fff;
}

/*-------------
Map section
-------------*/

#map {
	height: 320px;
	border-radius: 3px;
	box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.3);
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #000000;
}

.text-muted {
  text-align: center;
  color: #ffffff;
  font-size: 0.6em;
  margin-top: 20px;
}








/*-------------
Desktop Media Query
-------------*/

@media only screen and (min-width: 768px) {
  
  /*---------------------------------------
Cases & Clients hover filter for desktop
---------------------------------------*/
    
#cases a img, #clients a img {
	-webkit-filter: grayscale(1); /* Chrome & Safari 6+ */
}

#cases a img:hover, #clients a img:hover {
	filter: none;
	-webkit-filter: none;
	opacity: 1;
}
  
/*---------------
Desktop Map
----------------*/
  
#map {
  height: 400px;
}
}




