html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/*background image animation
/*----------------------------------------------- */
@keyframes opacity {
	0%{
		opacity: 0;
		}
	100%{
		opacity: 1;
	}
}

/*background image
/*---------------------------------------------- */
#bg-img {
	display:block;
	position: fixed;
	top: 0%;
	left -500px;
	min-width: 100%;
	min-width: 100%;
	width:auto;
	height:auto;
	z-index: -100;
	-webkit-filter:blur(7px;)
	animation-timing-function: ease-in;
	animation-name: opacity;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-play-state: running;
}

/*background video
/*--------------------------------------------- */
/*move to correct media query later. */
video{
	display: block;
	position: fixed;
	top: 0%;
	left 0%;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
	filter:blur(5px;);
	-webkit-filter:blur(5px);
}

/* Custom page CSS
-------------------------------------------------- */

/*----------
Custom styles Navbar
----------*/
.navbar-default {
  background-color: rgba(42,47,54,0.5);
	border: none;
}

.navbar-default .navbar-collapse {
	border: none;
	padding-left: 0;
	padding-right: 0;
}

a.navbar-brand {
  padding: 0;
}

a.navbar-brand img {
	height: 50px;
}


.navbar-toggle {
	border: none;
}

.navbar-header .navbar-toggle:focus, .navbar-header .navbar-toggle:hover {
	background-color: inherit;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-toggle .glyphicon-remove {
	color: #fff;
}

.navbar-toggle.collapsed .icon-bar {
	display: block;
}

.navbar-toggle .icon-bar {
	display: none;
}

.navbar-toggle.collapsed .glyphicon-remove {
	display: none;
}

.navbar-toggle .glyphicon-remove {
	display: block;
}

.nav-justified li {
	height: 50px;
	border-top: 2px groove;
}

.nav-justified li a {
	color: #fff;
	height: 50px;
	line-height: 2.5;
	padding: 5px;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: inherit;
}

.nav > li > a:active {
	background-color: rgba(10,10,10,0.5);
}

/*End of Navbar styles*/


/* Sticky footer styles
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #000000;
}

.text-muted {
  text-align: center;
  color: #ffffff;
  font-size: 0.6em;
}